{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row align-items-center justify-content-center">
        <!-- Sección de Texto más pequeña -->
        <div class="col-md-4 d-flex flex-column justify-content-center">
            <h1 class="fw-bold">Bienvenid@ a ADAS</h1>
            <h2 class="text-secondary">Esta será nuestra futura landing page</h2>

            <div class="mt-4">
                <h2 class="text-secondary">¡Empieza a hacer anuncios con nosotros!</h2>
            </div>

            <form action="{% url 'panel' %}">
                <button type="submit" class="btn btn-warning btn-lg mt-3">Crear anuncios</button>
            </form>
        </div>

        <!-- Imagen más grande a la derecha -->
        <div class="col-md-8 text-center">
            {% load static %}
            <img src="{% static 'images/home_page.png' %}" class="img-fluid rounded" style="width: 600px; height: auto;" alt="Imagen de la página de inicio" />
        </div>
    </div>
</div>

{% endblock content %}
