{% extends 'base.html' %} <!-- Cambio de base.html a home.html -->
{% load static %} <!-- Carga de archivos estáticos (imagenes) -->
{% block content %} <!-- Bloque de contenido -->

<style>
/* Estilos para la página de inicio */
    body {
        background-color: #f8fbfb; /* Color de fondo gris claro */
    }


    .btn-click { /* Botón personalizado (crear anuncios) */
        background-color: #ffc26c; /* naranjita */
        color: black; /* Texto en negro */
        border: none; 
        border-radius: 8px; /*Borde redondito*/
        padding: 10px 20px; /* margenes entre boton y otras cosas */
        transition: 0.3s; /* transicion al pasar el mouse*/
    }

    .btn-click:hover { /* Color de fondo al pasar el mouse */
        background-color: #a0c1e7; /* Azul más oscuro en hover */
    }
</style>

<!-- Sección principal web -->
<div class="container mt-5"> <!-- container me centra el contenido y me da margenes lat. (mt-2, es el margen sup.) -->
    <div class="row align-items-center"> <!-- me alinea contenido de las columnas al centro -->
        <!-- Sección de Texto -->
        <div class="col-md-5 text-start"> <!-- ocupa 5 de las 12 columnas en disp. medianos y text-start me alinea a izquierda -->
            <h1 class="fw-bold text-dark">¡Publica tus anuncios en redes sociales con un solo clic!</h1><!-- negrita y color de texto oscuro (#343a40 en Bootstrap) -->
            <p class="text-secondary fs-5"> <!-- color letra gris tamaño de letra 20xp en bootstrap -->
                Ahorra tiempo y maximiza el alcance de tus campañas con nuestra plataforma de automatización de anuncios.
            </p> <!-- cierro parrafo -->
            <p class="text-secondary fs-5">
                <!-- texto en strong, o sea resaltado -->
                Publica en <strong>Facebook, X e Instragram</strong> y más en segundos.
            </p>
            <form action="{% url 'panel' %}"> <!-- redirigimos a la vista panel -->
                <!-- submit, envia al hacer click, shadow sombra -->
                <button type="submit" class="btn-click btn-lg px-4 py-2 shadow">
                    Crear anuncios
                    <!-- Imagen de 24px, ms-2 margen izq pequeño -->
                    <img src="{% static 'images/icono_click.png' %}" alt="Icono click" class="ms-2" height="24">
                </button>
            </form>
        </div>

        <!-- Imagen ajustada -->
        <div class="col-md-7 text-end"> <!-- Imagen más a la derecha -->
            <img src="{% static 'images/homepage.png' %}" class="img-fluid" alt="image_homep">
        </div>
    </div>
</div>

{% endblock content %}
