{% extends 'panel.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Anuncios Pendientes</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for ad in ads %}
        <div class="col">
            <div class="card border rounded-3 shadow-sm p-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ ad.texto }}</h5>
                    <p class="card-text"><strong>Autor:</strong> {{ ad.autor.username }}</p>
                    <p class="card-text"><strong>Estado:</strong> {{ ad.estado }}</p>
                    <a href="{% url 'actualizar_estado_ad' ad.id %}" class="btn btn-primary">Revisar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
