{% extends 'panel.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Mis Anuncios</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for ad in ads %}
        <div class="col">
            <div class="card border rounded-3 shadow-sm p-3">
                <div class="card-body">
                    <p class="card-text"><strong>Texto:</strong> {{ ad.texto }}</p>
                    <p class="card-text"><strong>Estado:</strong> {{ ad.estado }}</p>
                    {% if ad.comentario_admin %}
                        <p class="card-text"><strong>Comentario:</strong> {{ ad.comentario_admin }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
