{% extends 'panel.html' %} 

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Mis adsets</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for adset in adsets %}
        <div class="col">
            <div class="card border rounded-3 shadow-sm p-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ adset.nombre }}</h5>
                    <p class="card-text"><strong>Id de campaña: </strong>{{ adset.campaign_id}}</p>
                    <p class="card-text"><strong>Billing event: </strong>{{ adset.billing_event}}</p>
                    <p class="card-text"><strong>Optimization goal: </strong>{{ adset.optimization_goal}}</p>
                    <p class="card-text"><strong>Daily budget: </strong>{{ adset.daily_budget}}</p>
                    <!--
                    {% if adset.campaign_id %}
                    <p class="card-text"><strong>Id: </strong> {{ adset.campaign_id}}</p>
                    {% endif %}
                    -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}